.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: bisque;
}

.container {
  background-color: #ddddd2;
}

.content {
  display: flex;
}

.right {
  flex: 0;
}
