.beers {
  &__container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex: 1;
    justify-content: center;
    align-items: center;
  }

  &__title {
    box-sizing: border-box;
    font-size: 24px;
    margin: 1em 0;
    padding: 1em;
    font-size: 2em;
    width: 100%;
    text-align: center;
    background-color: aliceblue;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
    width: 100%;
    margin: 0;
    padding: 1em;
    list-style: none;
  }
  &__link {
    text-decoration: none;
    color: initial;
  }
}
